<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <script src="js/index.js"></script>
    <title>Document</title>
</head>
<body>
    

    <div id="center_panel">
        <h1 class="textFormat" id="weatherHeader">Weather in Warwick</h1>
        <h4 class="textFormat" id = "time"></h4>
        <h3 class="textFormat" >Weather Info</h5>

        <div class="boxDisplay">
            <div class="leftPanel"">
                <img id="weatherImg" class = "displayImg">
            </div>
            
            <div class="rightPanel">
                <h4 class="panelText" id = "weatherName"></h4>
                <h4 class="panelText" id ="weatherDesc"></h4>
                <h4 class="panelText" id="visibility"></h4>
            </div>

        </div>


        <h3 class="textFormat" >Temperature</h5>

        <div class="boxDisplay">
            
            <div class="leftPanel"">
                <img id="tempImg" class = "displayImg" src = "img/temp_default.png">
            </div>

            <div class="rightPanel">
                <h6 class="secondPanelText" id = "feelsLikeTemp"></h6>
                <h6 class="secondPanelText" id = "lowTemp"></h6>
                <h6 class="secondPanelText" id = "highTemp"></h6>
                <h6 class="secondPanelText" id = "avgTemp"></h6>
            </div>

        </div>
    </div>

</body>
</html>